# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

CONFIGURACION_BREVO.md
diagrama-er-2026-02-22.png
FLUTTER_FASHIONSTORE_PROMPT.md
presentacion_cliente.md
PROJECT_MEMORY.md
PROPUESTA_TECNICA.md
